.Card {
  padding: 24px;
  overflow: hidden;

  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.Card-title {
  margin-top: 0;
  margin-bottom: 0.75rem;

  font-size: 1.25rem;
}

.Card-text {
  margin-top: 0;
  margin-bottom: 1rem;
}

.Card-btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

  color: #ffffff;
  background-color: #007bff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-decoration: none;

  transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;

  user-select: none;
}

.Card-btn:hover {
  background-color: #0069d9;

  cursor: pointer;
}

.Card-btn:focus {
  box-shadow: rgba(38, 143, 255, 0.5) 0 0 0 0.2rem;
}
